.bop-editor-pane {
    z-index: 99;
    position: absolute;
    right: -100%;
    width: 50vw;
    bottom: 0;
    top: 0;
    background-image: linear-gradient(to bottom, #FFFFFF, #f12c2c)
}

.bop-editor-pane.active {
    right: 0;
}
