.bop {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: black;
    animation: 500ms bounce infinite alternate ease-out;
    box-shadow: inset -1px -1px 5px #00000020;
}

.bop-eye {
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    left: 0;
}

.bop-eye:nth-child(1) {
    right: 0;
    left: auto;
}

.bop-eye::before {
    content: '';
    position: absolute;
    background: black;
    bottom: 2px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    right: 0;
}

.bop-eye:nth-child(1)::before {
    right: auto;
    left: 0;
}

.bop-mouth::before, .bop-mouth::after {
    content: '';
    left: 40%;
    position: absolute;
    background: white;
    top: 0;
    height: 2px;
    width: 1px;
}

.bop-mouth::after {
    left: auto;
    right: 40%;
}

.bop-mouth {
    background: black;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 4px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius:  25px;
}

.bop-wrapper{
    transform: scale(2);
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.bop-wrapper::after{
    position: absolute;
    background: #00000010;
    display: block;
    content: '';
    width: 20px;
    height: 5px;
    bottom: -5px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #00000010;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    animation: 500ms shadow-bounce infinite alternate ease-out;
}

@keyframes shadow-bounce {
    0% {
        width: 30px;
    }
    20% {
        width: 20px;
    }
    100% {
        width: 20px;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
        width: 30px;
        height: 18px;
    }
    20% {
        transform: translateY(-40%);
        width: 20px;
        height: 20px;
    }
    /*95% {*/
    /*    transform: translateY(95%);*/
    /*    width: 20px;*/
    /*    height: 20px;*/
    /*}*/
    100% {
        transform: translateY(-200%);
        width: 20px;
        height: 20px;
    }
}
