#sidebar {
    padding: 1rem;
    background: #b87fe3;
    width: 300px;
    height: 100vh;
    background: linear-gradient(to right, #b87fe360 0%, #b87fe300 100%);
}

#sidebar nav {
    display: flex;
    flex-direction: column;
}

#sidebar nav a {
    color: white;
    text-decoration: none;
    padding: .5rem;
}
